body {
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(255, 228, 181);
  background-position: center; /* középre igazítja a képet */
  background-size: cover; /*a kép kitölti a teljes hátteret*/
  background-repeat: no-repeat; /* ne ismétlődjön */
  background-attachment: fixed; /* rögzíti a hátteret */
}

h1 {
  text-align: center;
  color: rgb(150, 73, 11);
  margin-bottom: 10px;
}

table {
  width: 30%;
  margin: auto;
  border-collapse: collapse;
}

td {
  border: 1px solid rgba(170, 170, 170, 0.534);
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

img {
  width: 150px;
  height: fit-content;
  border-radius: 8px;
}

p {
    text-align: center;
}

a {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(150, 73, 11);
}
